Source: node-tar-stream
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Paolo Greppi <paolo.greppi@libpf.com>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , node-bl (>= 1.0.0)
 , node-end-of-stream (>= 1.0.0)
 , node-xtend (>= 4.0.0)
 , nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/mafintosh/tar-stream
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-tar-stream.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-javascript/node-tar-stream.git

Package: node-tar-stream
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-bl (>= 1.0.0)
 , node-end-of-stream (>= 1.0.0)
 , node-xtend (>= 4.0.0)
Description: streaming tar parser and generator - Node.js module
 tar-stream is a Node.js module which provides a streaming API to parse and
 generate tar files. It is streams2 and operates purely using streams which
 means you can extract/parse tarballs without ever hitting the file system.
 .
 Node.js is an event-based server-side JavaScript engine.
